body {
  background: #2e4057;
  color: whitesmoke;
}

main {
  padding: 50px;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}


/* button styles */
button {
  background-color:#586a89;
  color: #545a63;
  border: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
}

.wide-btn {
  margin: 0 auto;
  width: auto;
  background-color:#586a89;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.33rem;
  line-height: 50px;
  color: #FDFFF7;
}

.wide-btn img {
  width: 50px;
  float: left;
  margin-right: 5px;
}

.count-container button {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
}

.count-container button img {
  display: block;
  margin: auto;
  width:fit-content;
}

.return-btn {
  background: transparent;
  margin: 0 auto;
  margin-top: 25px;
  width: 44px;
}

/* */

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

/* slider styles */
.slider{
  height: 30px;
  border: 2px solid #b9272C;
  border-radius: 20px;
  overflow: hidden;
}

.thumb{
  background-color: #b9272C;
  cursor: pointer;
  width: 25px;
  height: 28px;
  margin-top: 1px;
  border-radius: 6px;
}

.slider2{
  height: 30px;
  border: 2px solid #03B55C;
  border-radius: 20px;
  overflow: hidden;
}

.thumb2{
  background-color: #03B55C;
  cursor: pointer;
  width: 25px;
  height: 28px;
  margin-top: 1px;
  border-radius: 6px;
}

/* */

.count-container {
  text-align: center;
}

.count-container p{
  margin-top: 25px;
}
